<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="https://ucsb.co1.qualtrics.com/jfe/form/SV_0x3XWPPGnDNsfVc" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>02:00 pm</td>  <td>Zoom & Carpentry Intro</td> </tr>
      <tr> <td>02:15 pm</td>  <td><a href= "https://ucsbcarpentry.github.io/2022-04-14-ucsb-openrefine/01-introduction/">Intro to OpenRefine</a></td> </tr>
      <tr> <td>02:30 pm</td>  <td><a href= "https://ucsbcarpentry.github.io/2022-04-14-ucsb-openrefine/02-importing-data/index.html">Importing data into OpenRefine</a></td> </tr>
      <tr> <td>02:45 pm</td>  <td><a href= "https://ucsbcarpentry.github.io/2022-04-14-ucsb-openrefine/03-working-with-data/index.html">Layout of OpenRefine, Rows vs Records</a></td> </tr>
      <tr> <td>03:00 pm</td>  <td><a href= "https://ucsbcarpentry.github.io/2022-04-14-ucsb-openrefine/04-faceting-and-filtering/index.html">Faceting and Filtering</a></td> </tr>
      <tr> <td>03:20 pm</td>  <td>Break</td> </tr>
      <tr> <td>03:30 pm</td>  <td><a href= "https://ucsbcarpentry.github.io/2022-04-14-ucsb-openrefine/05-clustering/index.html">Clustering</a></td> </tr>
      <tr> <td>03:50 pm</td>  <td><a href= "https://ucsbcarpentry.github.io/2022-04-14-ucsb-openrefine/06-working-with-columns/index.html">Working with Columns and Sorting</a></td> </tr>
      <tr> <td>04:00 pm</td>  <td><a href= "https://ucsbcarpentry.github.io/2022-04-14-ucsb-openrefine/07-introduction-to-transformations/index.html">Introduction to Transformations</a></td> </tr>
      <tr> <td>04:10 pm</td>  <td><a href= "https://ucsbcarpentry.github.io/2022-04-14-ucsb-openrefine/08-writing-transformations/index.html">Writing Transformations</a></td> </tr>
      <tr> <td>04:25 pm</td>  <td><a href= "https://ucsbcarpentry.github.io/2022-04-14-ucsb-openrefine/09-undo-and-redo/index.html">Transformations - Undo and Redo</a></td> </tr>
      <tr> <td>04:30 pm</td>  <td><a href= "https://ucsbcarpentry.github.io/2022-04-14-ucsb-openrefine/10-data-transformation/index.html">Transforming Strings, Numbers, Dates and Booleans</a></td> </tr>
      <tr> <td>04:50 pm</td>  <td>Break</td> </tr>
      <tr> <td>05:00 pm</td>  <td><a href= "https://ucsbcarpentry.github.io/2022-04-14-ucsb-openrefine/11-using-arrays-transformations/index.html">Transformations - Handling Arrays</a></td> </tr>
      <tr> <td>05:20 pm</td>  <td><a href= "https://ucsbcarpentry.github.io/2022-04-14-ucsb-openrefine/12-export-transformation/index.html">Transformations - Exporting</a></td> </tr>
      <tr> <td>05:45 pm</td>  <td>Review</td> </tr>
      <tr> <td>06:00 pm</td>  <td>End Workshop</td> </tr>
      <tr> <td>After</td>  <td><a href= "https://ucsb.co1.qualtrics.com/jfe/form/SV_6sVfpreofqSsqjA">Post Workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
